.searchWrapper {
  color : #3B8BE7;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #C0C2CC;
  z-index: 6;
  top: 15px;
  left: 5%;
  font-size: 24px;
  width: 90%;
  input {
    &[type=text] {
      font-size: 18px;
      font-style: italic;
      border :none;
      outline: 0;
      height : 60px;
      width: 100%;
      background: transparent;
      text-indent: 20px;
    }
  }
  .searchIcon {
    display: block;
    width: 30px;
    height: 24px;
    text-align: center;
    position: absolute;
    z-index: 6;
    top: 50%;
    margin-top: -12px;
    right: 24px;
    svg {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}