.home {
    background-image: url(../../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -269px;
    padding-bottom: 70px;
}

@media only screen and (max-width: 1440px) {
    .home {
        background-position: 0 0;
    }
}

.logo {
    padding-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.welcomeContainer {
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Roboto', 'Trebuchet MS', sans-serif;
    padding-bottom: 50px;
    width: 588px;
    height: auto;
    margin: auto;
    .welcomeTitle {
        text-align: center;
        font-size: 33px;
        padding-top: 40px;
    }
    .welcomeSubTitle {
        text-align: center;
        font-size: 13px;
        padding-top: 15px;
        padding-bottom: 5px;
        text-transform: uppercase;
    }
    .line {
        width: 100%;
        height: 2px;
        background-color: #3B8BE7;
    }
    .content {
        padding: 0 15px;
        .description {
            text-align: center;
            font-size: 18px;
            line-height: 21px;
            padding: 0 15px;
        }
    }
}

.defaultButton {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    user-select: none;
    cursor: pointer;
    background-color: #3B8BE7;
    color: #fff;
    width: 100%;
    line-height: 64px;
    margin: 20px 0 15px 0;
    &:hover {
        background-color: #2f6fb8;
        color: #fff;
        text-decoration: none;
    }
}